aside, article, main, footer {
  display: block;
}

input, button, a {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height:  inherit;
}

a {
  text-decoration: none;
}

ul { 
  list-style-type: none
}

button {
  border: none;
  background: transparent;
}